<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<script src="http://api.map.baidu.com/components?ak=DCv72OMk5WBAn3QXv5In381B&v=1.0"></script>
	<title>地图标注点</title>
	<style type="text/css">
		body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;}
		#golist {display: none;}
		@media (max-device-width: 800px){#golist{display: block!important;}}
	</style>
</head>
<body>
	<!-- <a id="golist" href="../demolist.htm">返回demo列表页</a> -->
    <lbs-map width="100px" style="height:100%" center="120.154313,30.2271">
    	<lbs-poi name="蓝天清水湾国际大酒店" icon-src="http://api0.map.bdimg.com/images/marker_red_sprite.png" height="25px" width="39px" location="120.154313,30.2271" addr="杭州玉皇山莲花峰路37号(丝绸博物馆处右转200米) " ></lbs-poi>
    </lbs-map>
</body>
</html>

