<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>出席信息</title>
    <meta name="author" content="yaoboqin">
    <meta name="description" content="结婚大典-王丽 蔡丞" />
    <meta name="keywords" content="结婚大典" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>
  <body>
  	<div class="container">
  		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>姓名</th>
					<th>电话</th>
					<th>出席人数</th>
				</tr>
			</thead>
  			<tbody>
  				<% signup.forEach(function(user, index){ %>
  				<tr>
  					<th scope="row"><%= user.id+1 %></th>
  					<td><%= user.name %></td>
  					<td><%= user.tel %></td>
  					<td><%= user.num %></td>
  				</tr>
  				<% }) %>
      		</tbody>
      	</table>
    </div>
  </body>
</html>