<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no" />
    <title>结婚大典-王丽 蔡丞</title>
    <meta name="author" content="yaoboqin">
    <meta name="description" content="结婚大典-王丽 蔡丞" />
    <meta name="keywords" content="结婚大典" />
	<link href="http://static.tianxia.taobao.com/tbtx/base/css/mobile/1.0/base.css" rel="stylesheet">
	<link href="http://static.daxuexiaoyuan.net/tbtx/wedding/css/??main.css,swiper.min.css,animate.min.css" rel="stylesheet">
    <script src="http://static.tianxia.taobao.com/tbtx/base/2.5/js/??tbtx.mobile.js,combo.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    
</head>
<body>
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img src="http://img03.taobaocdn.com/imgextra/i3/125793800/TB2KJB3cFXXXXa0XpXXXXXXXXXX_!!125793800.jpg" style="opacity:0;position:absolute;left:999%;">
			<img src="http://img01.taobaocdn.com/imgextra/i1/125793800/TB2m2uXcFXXXXXbXXXXXXXXXXXX_!!125793800.jpg" width="100%" class="m" id="p1w1">
			<img src="http://img03.taobaocdn.com/imgextra/i3/125793800/TB2Plh1cFXXXXa3XpXXXXXXXXXX_!!125793800.png" width="48%" class="m" id="p1w2">
			<img src="http://img02.taobaocdn.com/imgextra/i2/125793800/TB2A242cFXXXXalXpXXXXXXXXXX_!!125793800.png" width="48%" class="m" id="p1w3">
			<img src="http://img03.taobaocdn.com/imgextra/i3/125793800/TB2mSx5cFXXXXcFXXXXXXXXXXXX_!!125793800.png" width="60%" class="m" id="p1w4">
			<img src="http://img04.taobaocdn.com/imgextra/i4/125793800/TB272l3cFXXXXXZXpXXXXXXXXXX_!!125793800.png" swiper-animate-effect="tada" swiper-animate-duration="1.5s" swiper-animate-delay="3s" width="45%" class="m ani" id="p1w5">
			<img src="http://img02.taobaocdn.com/imgextra/i2/125793800/TB2ih4YcFXXXXcnXpXXXXXXXXXX_!!125793800.png" width="20%" class="m" id="h1">
			<img src="http://img03.taobaocdn.com/imgextra/i3/125793800/TB2ZNd2cFXXXXabXpXXXXXXXXXX_!!125793800.png" width="11%" class="m" id="h2">
		</div>
		<div class="swiper-slide">
			<img src="http://img01.taobaocdn.com/imgextra/i1/125793800/TB26VN0cFXXXXb3XpXXXXXXXXXX_!!125793800.png" swiper-animate-effect="swing" swiper-animate-duration="1s" swiper-animate-delay="0.3s" width="90%" class="m ani" id="p2w1">
			<img src="http://img01.taobaocdn.com/imgextra/i1/125793800/TB2W.h9cFXXXXbcXXXXXXXXXXXX_!!125793800.png" swiper-animate-effect="swing" swiper-animate-duration="1s" swiper-animate-delay="1.3s" width="80%" class="m ani" id="p2w2">
			<a href="/signup/address">
			<img src="http://img01.taobaocdn.com/imgextra/i1/125793800/TB2I689cFXXXXbxXXXXXXXXXXXX_!!125793800.png" width="40%" class="m" id="p2w3">
			</a>
		</div>
		<div class="swiper-slide">
			<img src="http://img01.taobaocdn.com/imgextra/i1/125793800/TB26VN0cFXXXXb3XpXXXXXXXXXX_!!125793800.png" width="94%" id="p3w1" >
			<form id="signup">
	    		<input type="text" id="name" class="form-control" name="name" placeholder="请输入您的姓名" required="">            
	    		<input type="tel" id="tel" class="form-control" name="tel" placeholder="请输入您的手机号码" required=""> 
	    		<input type="number" id="num" class="form-control" name="num" placeholder="请输入参加人数" required="">                
	    		<button class="btn btn-lg btn-primary btn-block" type="button" id="submit">提交</button>
    		</form>
		</div>
	</div>
	<div class="share">
        <img src="http://img04.taobaocdn.com/imgextra/i4/125793800/TB2bhV5cFXXXXc5XXXXXXXXXXXX_!!125793800.png" width="50%" alt=""/>
    </div>
    <img src="http://img04.taobaocdn.com/imgextra/i4/125793800/TB2eYh8cFXXXXa_XXXXXXXXXXXX_!!125793800.png" width="10%" alt="" class="arr-bottom"/>
</div>
<script src="http://static.daxuexiaoyuan.net/tbtx/wedding/js/??base-loading.js,music.js,swiper.min.js,swiper.animate.min.js,main.js"></script>
<div style="display:none">
<script src="http://s4.cnzz.com/z_stat.php?id=1254929293&web_id=1254929293" language="JavaScript"></script>
</div>
</body>
</html>